doctype html
html
  head
    title my jade template
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='assets/css/main.css')
  
  
  body
    header
      .header-wraper
        .logo asd asd
        
        nav.site-nav
          ul
            li: a(href="flex-test.html") Home
            li: a(href="#") About
            li: a(href="#") Contact
            li: a(href="index.html") Travis Starter Kit
            li: a(href="mailto:moroz.a24@gmail.com") moroz.a24@gmail.com
  
    .content-demo
